*{
    margin: 0;
    padding-left: 0;  
}
body{
    background-color: rgb(233, 193, 134);
}

.about_writeup{
    width: 90%;
    text-align: center;
    
}

.about-wrapper{
    padding-top:30px;
    padding-left: 20px;
    font-size: 24px;
    line-height: 1.6;
    }
     .backhome{
        text-align: center;
        margin-top: 30px;
        font-size: larger;
     }
     .backhome1{
        text-decoration: none;
        
     }
    

    

    

    
