*{
    margin: 0;
    padding-left: 0;  
}

.about_writeup{
    width: 300px;
}

.about-wrapper{
     background-color: aqua;
    padding-top:30px;
    padding-left: 20px;
    font-size: 24px;
    }

    

    

    
